/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
    margin: 0px;
}

header, footer {
   width: 100%;
   padding: 10px;
   background: #c52f24;
   color: #fff;
   margin: 0px;
}

.main_container {
   margin: 50px 15px;
}

h1 {
   display: block;
   font-size: 2em;
   margin-block-start: 0.67em;
   margin-block-end: 0.67em;
   margin-inline-start: 0px;
   margin-inline-end: 0px;
   font-weight: bold;
}

h2 {
   display: block;
   font-size: 1.5em;
   margin-block-start: 0.83em;
   margin-block-end: 0.83em;
   margin-inline-start: 0px;
   margin-inline-end: 0px;
   font-weight: bold;
}

table {
   border-collapse: collapse;
}

table th {
   background-color: #ffdfdf;
   padding: 10px 20px;
}

table td {
   background-color: #f1c8c861;
   padding: 10px 20px;
}

.notice {
   background-color: #ccf;
   padding: 5px;
}

li {
   list-style: none;
}

table, th, td {
   border: 1px solid;
}

th, td {
   text-align: center;
}